openapi: 3.0.3
info:
  title: Pemira 2024 Voting System API
  description: >
    Secure voting backend system for Pemira 2024 (Politeknik Negeri Semarang).
    Supports secure and consistent vote recording for BEM, BPM, and department head elections 
    (Electro, Mechanical, Civil, Accounting, and Business Admin).
  version: 1.0.0
  contact:
    name: Backend Developer (Portofolio)
servers:
  - url: https://api.pemira2024.polines.ac.id/v1
    description: Production Server
paths:
  /auth/login:
    post:
      tags:
        - Authentication
      summary: User authentication
      description: Authenticate student using their credentials to securely access the voting system.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - nim
                - password
              properties:
                nim:
                  type: string
                  example: "3.33.11.2.22"
                  description: Nomor Induk Mahasiswa
                password:
                  type: string
                  example: "securepassword123"
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
                  expires_in:
                    type: integer
                    example: 3600
        '401':
          description: Unauthorized - Invalid credentials

  /elections:
    get:
      tags:
        - Elections
      summary: Get active elections
      description: Retrieve list of active elections including BEM, BPM, and Department Heads.
      security:
        - bearerAuth: []
      responses:
        '200':
          description: A list of active elections
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Election'

  /votes:
    post:
      tags:
        - Voting
      summary: Submit a vote
      description: Securely submit a vote for a specific candidate. Includes backend logic for accurate vote handling and prevents duplicate voting.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - election_id
                - candidate_id
              properties:
                election_id:
                  type: integer
                  example: 1
                candidate_id:
                  type: integer
                  example: 5
      responses:
        '201':
          description: Vote successfully recorded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoteStatus'
        '400':
          description: Bad Request - Invalid candidate or election
        '403':
          description: Forbidden - User has already voted in this election

  /votes/status:
    get:
      tags:
        - Voting
      summary: Get real-time voting status
      description: Retrieve the real-time status of the current user's voting participation (CRUD Read operation).
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Current vote status for the authenticated user
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VoteStatus'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Election:
      type: object
      properties:
        id:
          type: integer
          example: 1
        type:
          type: string
          enum: [BEM, BPM, ELECTRO, MECHANICAL, CIVIL, ACCOUNTING, BUSINESS_ADMIN]
          example: "BEM"
        name:
          type: string
          example: "Pemilihan Presiden Mahasiswa (BEM) 2024"
        is_active:
          type: boolean
          example: true

    VoteStatus:
      type: object
      properties:
        election_id:
          type: integer
          example: 1
        status:
          type: string
          enum: [VOTED, PENDING]
          example: "VOTED"
        recorded_at:
          type: string
          format: date-time
          example: "2024-11-12T08:30:00Z"
